<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Result</h1>
    <p th:text="'id: ' + ${user.id}" />
    <p th:text="'username: ' + ${user.username}" />
    <p th:text="'password: ' + ${user.password}" />
    <p th:text="'tenant Id: ' + ${user.tenantId}" />

	<a href="/user/create">Create another user</a>
</body>
</html>