<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>MVC Test</title>
	<meta http-equiv="Content-Type" content="text/html; chatset=UTF-8">
</head>
<body>
	<p th:text="${u.username}" />
	<p th:text="${u.password}" />
	<p th:text="${u.tenantId}" />
</body>
</html>