html {
    background-image: url("/images/login_backdrop2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
html, body {
    height: 100%;
    width: 100%;
}

#main_panel {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
input {
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
}