.navigation_bar {
    background-color: #000000;
    font-family: "Comic Sans";
    font-size: 30px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    font-family: "Comic Sans";
    padding-top: 30px;
    badding-bottom: 15px;

}
.navigation_bar ul {
    list-style-type: none;
    margin-right: 50px;
    text-align: center;
    vertical-align: center;
}
.navigation_bar li {
    display: inline-block;
}
.navigation_bar a {
    color: #ffffff;
    text-decoration: none;
    padding: 5px 15px;
}
.navigation_bar a:hover {
    border: 1px solid purple;
    border-radius: 10px;
}
.navbar_links {
    float: left;
}

#session {
	display: inline-block;
	float: right;
	margin-right: 100px;
}
#session li {
	margin: 5px;
}
#session button {
	height: 30px;
	width: 75px;
	border-radius: 10px;
}

