

.nav_sample2 {
    background-color: #000000;
    font-family: "Comic Sans";
    font-size: 30px;
    height: 90px;
    width: 100%;
    z-index: 200;
    font-family: "Comic Sans";
    padding: 0px;
}
.nav_sample2 ul {
    list-style-type: none;
    text-align: center;
    vertical-align: center;
}
.nav_sample2 li {
    display: inline-block;
    margin: 0px 5px 0px 5px;
}
.nav_sample2 a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px 15px;
}
.nav_sample2 a:hover {
	box-shadow: 0px 0px 5px 3px blue;
    border-radius: 10px;
}
.navbar_links {
    float: left;
}

.active {
	box-shadow: 0px 0px 5px 3px #440099;
	background-color: #242b49;
	border-radius: 10px;
}
