<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/base.css" type="text/css">
	<link rel="stylesheet" href="/css/navigation_bar.css" type="text/css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="/css/index.css">
    <title>Cinema PoS System</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
</head>
<body>
    <div class="navigation_bar">
        <div class="navbar_links">
            <ul>
                <li><a href="/home">Visit Site</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/support">Support</a></li>
            </ul>
        </div>
        <div id="session"></div>
    </div>
    
    
    
    
	<div class="login-page">
		<div class="form">
			<form action="/user/login">
				<input type="submit" value="User" />
			</form>

			<form action="/tenant/login">
				<input type="submit" value="Tenant" />
			</form>

			<form action="/admin/login">
				<input type="submit" value="Admin" />
			</form>

		</div>
	</div>
	
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/session_handler.js"></script>
</body>
</html> 