
body {
    border: 1px solid red;
    min-height: calc(100% - 110px);
    display: flex;
    flex-wrap: row;
    margin: 150px 50px 200px 50px;
}
#temp {
    height: 1500px;
    border: 1px solid orange;
}

#feature_selection_pane {
    color: #ffffff;
    border: 1px solid white;
    flex-basis: 300px;
    margin: 5px;
    padding: 10px;
}

#preview_pane {
    border: 1px solid green;
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
}



#select_feature ul{
   list-style-type: none;
   font-size: 20px;
}
#select_feature input{
    margin-bottom: 15px;
    margin-right: 20px;
}
